<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> report </title>
</head>
<body  bgcolor="#ebf7fc">
    <form action="showreport/" method="post">
    Name:<input type="text" name="name" value=""/>
    <hr/>
    StartDate:<input type="text" name="startdate" value=""/>
    <hr/>
    EndDate:<input type="text" name="enddate" value=""/>
    <hr/>
    <input type="submit" value="build"/>
    <hr/>
    </form>
    <p></p> 
    <a href="/sales/form/">Go to form</a>
    <p></p> 
    <a href="/sales">Go to index</a>
</body>
</html>
